body {
    margin: 0;
    padding: 0;
    position: relative;
    display: grid;
    width:100%;
    height: 90vh;
    grid-template-columns: 1fr 2fr 2fr 2fr 1fr;
    grid-template-areas:
        '. title title title.'
        '. n0-computer cables server .'
        '. n1-computer cables server .'
        '. n2-computer cables server .';
}

h1 {
    text-align: center;
    grid-area: title;
    height: 5vh;
    width:auto
}
#cables{
    grid-area: cables;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-right: 1em;
}
#cables div{
    border-bottom: 0.5em solid #000000;
}
#server{
    grid-area: server;
    background-color: #cef78f;
    border-radius: 1em;
    width:20vw;
    height: auto;
}

.bird-to-server {
    display: block;
    background-image: url("./icons8-package-100.png");
    width: 10em;
    height: 6em;
    animation: toServer 1s 1;
    position: relative;
}
.bird-to-comp {
    background-image: url("./icons8-package-100.png");
    width: 10em;
    height: 6em;
    animation: toComp 1s 1;
    position: relative;
}
@keyframes toServer {
  from {left: 0px;}
  to {left: 24em; display: none;}
}
@keyframes toComp {
    from {left: 24em;display: block;}
    to {left: 0px;}
  }
#n0-computer {
    display: flex;
    grid-area: n0-computer;
}

#n1-computer {
    display: flex;
    grid-area: n1-computer;
}

#n2-computer {
    display: flex;
    grid-area: n2-computer;
}

input[type=text],
input[type=number] {
    width: 100%;
    padding: 5px 10px;
    margin: 3px 0;
    border: 1px solid #000000;
    border-radius: 4px;
    box-sizing: border-box;
}

.form {
    display: flex;
    justify-self: stretch;
    align-items: center;
    flex-direction: column;
}

img {
    width: 10vw;
    height: auto;
}
figure{
    margin: 0;
}